* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Header */
header {
    padding: 20px;
    background: white;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
        background-image: url('ballon_2.png');
}



header img {
    width: 15%;
}

body {
    background-color: #1F0F47;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    text-align: center;
    background-color: #BEE0DA;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

figcaption {
    text-align: end;
    padding-right: 5px;
}

footer {
    text-align: center;
    background-color: #fff;
    padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
p,
figcaption,
footer {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #1F0F47;
    font-size: 4vw;
}
